.market-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  table-layout: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.market-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.market-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.market-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.market-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.market-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.edit-button {
  background-color: #009879;
  color: white;
}
